
<h2> Primeiro Projeto Angular </h2>

<p> Introdução aos conceitos de componentes, templates, injeção de dependência, diretivas e data binding, a seguir serão renderizados os componentes criados seguindo o guia do repositório do github.</p>

<h4>Componente app-hello-world</h4>
<app-hello-world></app-hello-world>

<h4>Componente hello-world-interpolation</h4>
<hello-world-interpolation></hello-world-interpolation>

<h4>Componente hello-world-binding</h4>
<hello-world-binding></hello-world-binding>

<h4>Injeção de dependência</h4>
<app-hello-world-di></app-hello-world-di>
